body {
    font-family: "Source Sans Pro", sans-serif;
    color: #2d3c49;
    height: 100%;
    font-size: 1.2rem;
}

h1 {
    font-size: 4rem;
    color: #4f9da6;
    font-family: 'Cormorant Infant', serif;
}

h2 {
    color: #fa9d77;
    font-size: 2.2rem;
    padding: 3%;
}

h5 {
    color: #de6564;
}

a {
    color: #7d97ad;
}

img {
    width: 100%;
}

hr {
    color: #4f9da6;
    border-top: 4px dotted;
    width: 20%;
}

ul,
li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

/* Navigation */
.navbar {
    background-color:#07569e;
    /* background-color: #544175; */
}

.navbar-brand {
    text-transform: uppercase;
    color: #e8f7f2;
}

.nav-item {
    font-size: 1.2em;
    padding: 0 0.4em;
}

#top {
    color: white;
    font-size: 1.75rem;
}

/* Header */

#header {
    text-align: center;
}

.intro-hr {
    border-top: 4px dotted #e69d11;
    width: 20%;
}

.jc {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid white;
    display: inline;
}

/* Recent front-end projects */

#projects {
    text-align: center;
}

.recent {
    color: #37a4b3;
}

.card-deck .card {
    margin: 0;
}

.card-footer {
    font-size: 1.2em;
}

/* Earlier work */
.earlier-bg {
    background-color: #fffaf3;
    text-align: center;
}

.title {
    font-size: 1.25rem;
    color: #99686d;
}

/* Print Samples */
#print-samples {
    text-align: center;
    padding-bottom: 5%;
}

.carousel-inner img {
    max-width: 600px;
    height: auto;
    margin: auto;
}

/* Testimonials */
#testimonials {
    text-align: center;
    padding: 0 3%;
}

#testimonials p {
    text-align: justify;
}

.test-header {
    color: #4f9da6;
}

.client-name {
    font-size: 1rem;
    font-style: italic;
}

.test-bg {
    background-color: #f5f9fa;
}

/* Contact */
#contact {
    text-align: center;
}


#contact a {
    text-decoration: none;
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding-bottom: .15em;
}
