html {
    min-height: 100%;
}


body {
    color: #525151;
    /* background-color: #f5efef; */
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #479fa8;
}

h2 {
    color: white;
    font-size: 1.7rem;
}

h3 {
    line-height: 1.7;
    color: #006666;
}

h5 {
  font-size: 1.1rem;;
}

p {
    line-height: 2;
}

img {
    width: 100%;
}

a {
    color: #5584a1;
    font-size: 1.2rem;;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn {
    border: 0;
}

/* Navigation */

.bg-info {
  background-color: #1a6d8f!important;
}

.nav-link {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 2rem;;
}

a.nav-link {
    color: white;
}

/* Header */

.header {
    background-color: #a05857;
}

.about {
    width: 60%;
    line-height: 1.7;
}

/* About */

.jc-title {
  background-color:  #479fa8;
}

/* portfolio */

#portfolio {
    background-color: #f2eade;
}

.card {
    text-align: center;
}

.card-deck .card {
    margin: 0;
}

.card-title {
    margin-bottom: 0;
}

/* Recommendations */
#recommendations {
    padding: 0 3%;
    /* background-color:#f0f5eb; */
}

p {
    text-align: justify;
}


.client-name {
    font-size: 1rem;
    font-style: italic;
}

.test-bg {
    background-color: #edf3f7;
}

/* Contact */

.contact {
    /* background-color: #efe9dd; */
    text-align: center;
    margin-bottom: 2%;
}

#contact a {
    text-decoration: none;
    color: #fff;
}

/* Contact */

.text-muted {
    font-size: 1rem;
}

.footer-text {
    text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
  text-align: center;
  font-size: 85%;
}
