html {
    min-height: 100%;
}


body {
    color: #656565;
    height: 100%;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3em;
}

h3 {
    line-height: 1.7;
}

p {
    line-height: 1.7;
}

img {
    width: 100%;
}

.container {
    max-width: 70%;
    padding: 0;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn {
    border: 0;
}


/* Navigation */


/* Header */

.header {
    background-color: #ccc; 
}


.stats {
    background-color: #fff5db;
    border-radius: 6px;
    font-size: 1.4rem;
}

/* About */

.jc {
    max-width: 200px;
    max-height: 290px;
    float: right;
    border: solid 4px white;
}

/* Selected projects */

#projects {
    text-align: center;
}


.card {
    text-align: center;
}

.card-deck .card {
    margin: 0;
}



/* Print Samples */
#design-work {
    text-align: center;
    padding-bottom: 5%;
}

.carousel-inner img {
    max-width: 600px;
    height: auto;
    margin: auto;
}

/* Testimonials */
#testimonials {
    padding: 0 3%;
}

p {
    text-align: justify;
}

.test-header {
    color: #70a5c5;
}

.client-name {
    font-size: 1rem;
    font-style: italic;
}

.test-bg {
    background-color: #edf3f7;
}

/* Contact */
#contact {
    text-align: center;
}


#contact a {
    text-decoration: none;
    color: #fff;
}

.footer-text {
    text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
  font-size: 85%;
}
