html {
    min-height: 100%;
}


body {
    color: #656565;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #006666;
    line-height: 1.
}

h2 {
    color: white;
}

h3 {
    line-height: 1.7;
    color: #006666;
}

p {
    line-height: 1.7;
}

img {
    width: 100%;
}

a {
    color: #5584a1;
}

.container {
    max-width: 70%;
    padding: 0;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn {
    border: 0;
}

.parallax {
  /* The image used */
  background-image: url("images/jc-forest.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Navigation */

nav {
    background-color: #006666!important;
}

.bg-dark {
    background-color: #006666!important;
}

a.nav-link {
    color: white;
}

/* Header */

.header {
    background-color: #a05857;
}

.about {
    width: 60%;
    line-height: 1.7;
}

.stats {
    background-color: #fff5db;
    border-radius: 6px;
    font-size: 1.4rem;
}

/* About */



/* portfolio */

#portfolio {
    background-color: #efe9dd;
}

.card {
    text-align: center;
}

.card-deck .card {
    margin: 0;
}


/* Testimonials */
#testimonials {
    padding: 0 3%;
}

p {
    text-align: justify;
}


.client-name {
    font-size: 1rem;
    font-style: italic;
}

.test-bg {
    background-color: #edf3f7;
}

/* Contact */

.contact {
    background-color: #efe9dd;
    text-align: center;
    margin-bottom: 2%;
}

#contact a {
    text-decoration: none;
    color: #fff;
}

/* Contact */

.text-muted {
    font-size: 1rem;
}

.footer-text {
    text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
  text-align: center;
  font-size: 85%;
}
