body {
    color: #2d3c49;
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: #e56b46;
    font-family: 'Mate', serif;

}

h2 {
    color: #70a5c5;
    font-size: 2.2rem;
    padding: 3%;
}

h5 {
    color: #de6564;
}

a {
    color: #7d97ad;
}

img {
    width: 100%;
}

hr {
    color: #fdb127;
    border-top: 6px dotted;
    width: 15%;
}

ul,
li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

/* Navigation */
.navbar {
    background-color: #a13a37;
}

.navbar-brand {
    color: #fff;
}

.nav-item {
    font-size: 1.2em;
    padding: 0 0.4em;
}

#top {
    color: white;
    font-size: 1.75rem;
}

/* Header */

#header {
    text-align: center;
}

.intro-hr {
    border-top: 4px dotted #e69d11;
    width: 20%;
}

.jc {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid white;
    display: inline;
}

/* Recent front-end projects */

#projects {
    text-align: center;
}

.recent {
    color: #e56b46;
}

.card-deck .card {
    margin: 0;
}

.card-footer {
    font-size: 1.2em;
}

/* Earlier work */
.earlier-bg {
    background-color: #fffaf3;
    text-align: center;
}

.earlier {
    color: #e56b46;
}

/* Print Samples */
#design-work {
    text-align: center;
    padding-bottom: 5%;
}

.carousel-inner img {
    max-width: 600px;
    height: auto;
    margin: auto;
}

/* Testimonials */
#testimonials {
    text-align: center;
    padding: 0 3%;
}

#testimonials p {
    text-align: justify;
}

.test-header {
    color: #70a5c5;
}

.client-name {
    font-size: 1rem;
    font-style: italic;
}

.test-bg {
    background-color: #edf3f7;
}

/* Contact */
#contact {
    text-align: center;
}


#contact a {
    text-decoration: none;
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding-bottom: .15em;
}
